<!-- Ensure you have included the FontAwesome library in your project -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="d-flex justify-content-between align-items-center"  style="padding-top:10px;">
  <div class="header-left">
    <div>
      <a href="#" class="text-decoration-none" style="color:#AFB7C4; white-space: nowrap;">Pages/<span style="color:#344767; font-weight:450">Dashboard</span></a>
    </div>
    <div>
      <h1 style="color:#344767; font-weight:700; font-size:16px;">Dashboard</h1>
    </div>
  </div>

  <div class="header-right d-flex">
    <div class="search-section">
      <form class="form-inline d-flex">
        <div class="input-group-prepend d-flex align-items-center mx-2">
          <i class="fa fa-search"></i>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Can't find something?" aria-label="Search">
        <button class="btn my-2 my-sm-0 mx-1 d-flex align-items-center"  type="submit">SEARCH</button>
      </form>
    </div>
    <div class="actions-section d-flex align-items-center ml-3">
      <button class="signin-button mr-2"><i class="fa fa-user px-2"></i> <span style="white-space:no-wrap">Sign In</span></button>
      <button class="icon-button mr-1"><i class="fa fa-gear"></i></button>
      <button class="icon-button mr-1"><i class="fa fa-bell"></i></button>
    </div>
  </div>
</header>
