<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <div class="card-left">
            <h5 class="card-title">Time-off Requests</h5>
            <p class="card-number">28 <span class="card-percentage">+11%</span></p>
            <div class="button" style="display:flex; align-items:center; justify-content:start">
              <button class="btn btn-link" style="color:#292F50"><span style="white-space: nowrap;">View all</span></button>
              <i class="fa fa-arrow-right" style="font-size:13px; padding-top:4px;margin-left:-8px "></i>
            </div>
          </div>
          <div class="card-icon">
            <i class="fa fa-solid fa-mug-hot"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <div class="card-left">
            <h5 class="card-title">Employees</h5>
            <p class="card-number">42 <span class="card-percentage">+19%</span></p>
            <div class="button" style="display:flex; align-items:center; justify-content:start">
              <button class="btn btn-link" style="color:#292F50"><span style="white-space: nowrap;">View all</span></button>
              <i class="fa fa-arrow-right" style="font-size:13px; padding-top:4px;margin-left:-8px "></i>
            </div>
          </div>
          <div class="card-icon">
            <i class="fa fa-solid fa-users"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <div class="card-left">
            <h5 class="card-title">Internship</h5>
            <p class="card-number">20 <span class="card-percentage" style="color:rgb(231, 22, 11)">-2%</span></p>
            <div class="button" style="display:flex; align-items:center; justify-content:start">
              <button class="btn btn-link" style="color:#292F50"><span style="white-space: nowrap;">View all</span></button>
              <i class="fa fa-arrow-right" style="font-size:13px; padding-top:4px;margin-left:-8px "></i>
            </div>
          </div>
          <div class="card-icon">
            <i class="fa fa-solid fa-school"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <div class="card-left">
            <h5 class="card-title">Training</h5>
            <p class="card-number">35 <span class="card-percentage">19%</span></p>
            <div class="button" style="display:flex; align-items:center; justify-content:start">
              <button class="btn btn-link" style="color:#292F50"><span style="white-space: nowrap;">View all</span></button>
              <i class="fa fa-arrow-right" style="font-size:13px; padding-top:4px;margin-left:-8px "></i>
            </div>
          </div>
          <div class="card-icon">
            <i class="fa fa-chalkboard"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
